a{
    text-decoration: none!important;
    color:black!important;
}

li{
    list-style: none;
}

.nav1{
    background-color: blueviolet!important;
    color: white!important;
}

.act{
    background-color: rgb(117, 29, 199);
} 
.nav-h:hover{
    background-color: rgb(117, 29, 199);
}
.card-w{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.b-radius{
    border-radius: 10px;  
}
.t-center{
    text-align: center;
}

.scale:hover{
    transform: scale(1.02);
  }

.wi-1-100{
    width: 30%;
    height: 20vh;
    border-radius:10px 0px 0px 10px ;
}
.mx-auto-0{
    margin-right:auto ;
    margin-left: auto;
}
.w-home{
    width:100%;
    border-radius: 10px;
}
.position-ab-border-2{
    position: absolute;bottom: 8px; padding: 8px;color: rgb(255, 255, 255);
}

nav{
    position: sticky!important;
    top: 0px;
    z-index: 200;
}


/*   tele */
@media  (max-width: 600px) {
    .wi-1-100{
        width: 35%;
        height: 30vw;
        border-radius:10px 0px 0px 10px ;
    }
    .font-card0{
        font-size: 9px;
        margin: 1px 0px;
    }
    .font-card1{
        font-size: 9px;
        margin: 1px 0px;


    }
}

/*   max-width: 1000px */

@media  (max-width: 1000px) {
    .d-flex-ar{
        display: flex;
    }
    .jus-items-cent{
        justify-items: center;
    }
    .position-ab{
        font-size: 15px;
        margin-top: auto;
        margin-bottom: auto;
        padding: 0px 15px;
    }
    .wi-100{
        width: 30%;
        border-radius:10px 0px  0px 10px;
    }
    .font-card0{
        font-size: 14px;
        margin:0px 0px 13px 0px;

    }
    .font-card1{
        font-size: 12px;
        margin: 0px 0px;
    }
    .icon1{
        font-size: 25px;
    }
    .icon2{
        width: 130px;
    }
    .icon3{
        width: 110px;
    }
    .btn-up{
        font-size: 30px;
    }
    .btn-up-position{
        display: none;
    }
    .navbar div a{
        display: none;
    }
    .navbar div {
        padding: 10px 0px;

    }


}

/* pc */
@media  (min-width: 1000px) {
    .position-r{
        position: relative;
    }
    .position-ab{
        position: absolute;
        bottom: 13px; 
        color: rgb(255, 255, 255);
        font-size: 23px;
        padding: 0px 16px;
        margin-top: auto;
        margin-bottom: auto;


    }
    .back-card{
        position: absolute;
        bottom: 0px; 
        height: 85%;
        width: 100%;
        border-radius:0px 0px 10px 10px ;
        background-image: linear-gradient(to bottom, rgba(15, 15, 15, 0), rgb(0, 0, 0)  ) ; 
    }
    .wi-100{
        width: 100%;
        height: 30vh;
        border-radius:10px ;
    }

    .font-card0{
        font-size: 20px;
        margin:0px 0px 25px 0px;

    }
    .font-card1{
        font-size: 15px;
        margin: 0px 0px;
    }
    .wi-1-100{
        width: 30%;
        height: 23vh;
        border-radius:10px 0px 0px 10px ;
    }

    .icon1{
        font-size: 30px;
    }
    .icon2{
        width: 130px;
    }
    .icon3{
        width: 110px;
    }
    .btn-up{
        font-size: 30px;
        color: rgb(103, 103, 104) !important;
    }
    .btn-up-position{
        position: fixed;
        right: 30px;
        bottom: 30px;
    }
    .w-home{
        width:400px;height: 28vh; border-radius: 10px;
    }
    .position-ab-border{
        position: absolute;bottom: 0px; background-color: black; height: 95px;width: 100%;opacity: 0.7;
        border-radius: 0px 0px 10px 10px;
    }
    .position-ab-border-1{
        position: absolute;bottom: 0px; background-color: black; height: 150px;width: 100%;opacity: 0.5;
        border-radius: 0px 0px 10px 10px;
    }
    .position-ab-border-2{
        position: absolute;bottom: 0px; color: rgb(255, 255, 255);
    }
    .h3-border{
        font-size:17px ;
    }
    .p-border{
        font-size:12px ;
    }
    
}